.footer{
    background-image: url("https://i.ibb.co/D5zMSLg/as.png");
    width: 100%;
    display: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}